logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/*.log
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.ensime
/.ensime_cache/
/conf/composer-restorer.conf
/conf/local.conf
public/stylesheets/vendor
public/jspm_packages
node_modules/
public/css
public/build.js
public/build.js.map
