<gu-column span="2">
  <gu-row>
    <!-- COMPOSER ICON -->
    <gu-column class="center" flex span="2" gu-box="tertiary" skin="header">
      <gu-icon class="composer-icon" variant="composer-icon"></gu-icon>
    </gu-column>
    <!-- PAGE STATUS -->
    <gu-column class="center" flex span="5" gu-box="tertiary" skin="header">
      <span class="content-type">Versions</span>
    </gu-column>
    <gu-column span="5" gu-box="tertiary"></gu-column>
  </gu-row>
</gu-column>
<!-- MAIN HEADER -->
<gu-column span="10" gu-box="tertiary" skin="header"></gu-column>

