@import "mixins/center-children";

@import "components/snapshot-list.scss";
@import "components/spinner.scss";
@import "components/sidebar.scss";
@import "components/snapshot-content.scss";
@import "components/text.scss";
@import "components/modal.scss";
@import "components/splash-screen.scss";

html, body, .main, .container {
  height: 100%;
}

.composer-icon object {
  max-width: 20px;
}

h6, h4 {
  margin: 0;
}

.hidden {
  display: none;
}

.visually-hidden {
  opacity: 0;
  pointer-events: none;
}

.center {
 @include center-children;
}
