@import "components/snapshot-list.scss";
@import "components/spinner.scss";
@import "components/sidebar.scss";
@import "components/snapshot-content.scss";

html, body, .main, .container, .content {
  height: 100%;
}

.content {
  overflow: auto;
}

.main {
  overflow: hidden;
}

.composer-icon object {
  max-width: 20px;
}

h6, h4 {
  margin: 0;
}
