@import "mixins/center-children";
@import "mixins/borders";

@import "components/snapshot-list.scss";
@import "components/sidebar.scss";
@import "components/snapshot-content.scss";
@import "components/text.scss";
@import "components/modal.scss";
@import "components/splash-screen.scss";
@import "components/header.scss";
@import "components/grid.scss";
@import "components/box.scss";
@import "components/dropdown.scss";
@import "components/index-list.scss";
@import "components/accordion.scss";
@import "components/btn.scss";
@import "components/loading-bars.scss";
@import "components/page-label.scss";
@import "components/status.scss";


html, body, .main, .container {
  height: 100vh;
  margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
}

.composer-icon object {
  max-width: 20px;
}

h6, h4 {
  margin: 0;
}

.hidden {
  display: none !important;
}

.visually-hidden {
  opacity: 0;
  pointer-events: none;
}

.center {
 @include center-children;
}

.full-width {
    width: 100%;
}

.no-shrink {
    flex-shrink: 0;
}
