.box--tertiary[skin=header] {
    padding: 0;
    border-right: 0px!important;
}

.row[skin=header] {
    flex-shrink: 0;
}

.composer-icon-box {
    padding: 0;
    width: 50px;
    height: 45px;
    text-align: center;
    background: url(../images/restorer-white-38.svg) center center no-repeat #005689;
}
