@import "palette.scss";

// SNAPSHOT LIST HEADER
.snapshot-list-header {
  background: $box-tertiary-bg;
}

.snapshot-list-header__decal {
  box-sizing: border-box;
  flex-basis: 46px;
  max-width: 46px;
  padding: 5px 10px;
  border-right: 2px solid $color-400-grey;
}

.snapshot-list-header__content {
  padding: 5px 10px;
}

// SNAPSHOT LIST
.snapshot-list__item__content {
  flex-grow: 3;
  padding: 15px;
  font-weight: 500;
  [variant=quaternary] & {
    color: white;
  }
}

// INDEX STYLING
// --------
// | 1 | <-- that bit
// --------
.snapshot-list__item .index-list__item__index {
  padding-top: 15px;
}

.item-active .index-list__item__index {
  position: relative;
  &:before {
    $width: 5px;

    content: ' ';
    display: inline-block;

    position: absolute;
    top: 0;
    left: -$width;

    width: $width;
    height: 100%;

    background-color: $active;
  }
}

// RESTORE BUTTON
.snapshot-list__item__restore {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin-right: -3%;
  transition: opacity .1s ease-in-out;
}

.snapshot-list__item__restore__icon {
  margin-right: 5px;
}

//JSON BUTTON
.snapshot-list__item__json {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  transition: opacity .1s ease-in-out;
}
