@import "palette.scss";

// SNAPSHOT LIST HEADER
.snapshot-list-header {
  background: $box-tertiary-bg;
  font-size: 12px;
}

.snapshot-list-header__decal {
  box-sizing: border-box;
  flex-basis: 46px;
  max-width: 46px;
  padding: 5px 10px;
  border-right: 1px solid $color-400-grey;
}

.snapshot-list-header__content {
  padding: 5px 10px;
  flex-basis: 175px;
  border-right: 1px solid $color-400-grey;
}

.snapshot-list-header__status {
  padding: 5px 10px;
}

// SNAPSHOT LIST
.snapshot-list {
  margin-top: 5px;
  li {
    list-style: none;
  }
}

.snapshot-list__item {
  position: relative;
  overflow: hidden;
  min-height: 60px;
  &.item-active {
    overflow: visible;
    &:before {
      display: none;
    }
  }
  &:hover {
    &:not(.item-active){
      color: white;
    }
    &:before {
      opacity: 1;
    }
  }
  &:before {
    content: ' ';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-500-grey;
    opacity: 0;
    transition: transform .2s ease-in-out, opacity .2s ease-in;
    z-index: 1;
  }
}

.snapshot-list__item__content {
  padding: 10px 15px;
  flex-basis: 165px;
  font-weight: 500;
  z-index: 2;
  border-right: 1px solid $color-400-grey;
  [variant=quaternary] & {
    color: white;
  }
  &:hover {
    cursor: pointer;
  }
}

.snapshot-list-secondary {
  color: white;
  background: #ed5935;
  padding: 2px;
}

.snapshot-list__item__status {
  flex-grow: 3;
  font-size: small;
  font-family: "Guardian Agate Sans";
  z-index: 2;
  [variant=quaternary] & {
    color: white;
  }
  &:hover {
    cursor: pointer;
  }
}

.snapshot-list__item__status--left {
    float: left;
    height: 3.1em;
    padding: 10px 5px;
}

.snapshot-list__item__status--right {
    float: right;
    width: 45%;
    height: 3.1em;
    padding: 10px 5px;
    border-left: 1px solid $color-400-grey;
}

.snapshot-list__item__settings__legally-sensitive {
    padding: 0;
    text-align: center;
    height: 15px;
    margin-bottom: 5px;
    width: 17px;
    background: url(../images/legalcheck-grey-14.svg) center center no-repeat;
}

.snapshot-list__item__settings__live {
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 1px;
    font-weight: bold;
}

.snapshot-list__item__settings__comments--off {
    width: 36px;
}

.snapshot-list__item__settings__comments--on {
    width: 32px;
}

.snapshot-list__item__settings__content--text {
    float: right;
    font-size: 12px;
    text-transform: uppercase;
}


.snapshot-list__item__settings__comments--on-image {
    padding: 0;
    float: left;
    text-align: center;
    height: 15px;
    width: 16px;
    background: url(../images/comment-green-14.svg) center center no-repeat;
}

.snapshot-list__item__settings__comments--off-image {
    padding: 0;
    float: left;
    text-align: center;
    height: 15px;
    width: 16px;
    background: url(../images/comment-grey-14.svg) center center no-repeat;
}


// INDEX STYLING
// --------
// | 1 | <-- that bit
// --------
.snapshot-list__item .index-list__item__index {
  padding-top: 10px;
  z-index: 2;
  border-right: 1px solid $color-400-grey;
}

.item-active .index-list__item__index {
  position: relative;
  &:before {
    $width: 5px;
    content: ' ';
    display: inline-block;
    position: absolute;
    top: 0;
    left: -$width;
    width: $width;
    height: 100%;
    background-color: $active;
  }
}

//This element selector is here due to the load order of the components' css
//which always loads last and overrides this selector
//no matter what :'(
div.index-list__item__index {
  margin-bottom: 0;
}

.delta-row {
  padding: 5px 0 2px 0;
  opacity: 0.3;
}

.delta-row__icon {
  margin-left: 5px;
}

.delta-row__content {
  transition: opacity .2s ease-in-out;
  line-height: 1.4;
}

.snapshot-list__item__information {
  display: flex;
  justify-content: flex-end;
}
