.snapshot-content {
  padding: 20px;
  transform: translateZ(0) translateX(110%);
  opacity: 0;
  transition: transform .4s ease-in-out, opacity .3s ease-in-out;
  z-index: -1;
  &.active {
    transform: translateX(0);
    opacity: 1;
  }
}
