.snapshot-content {
  opacity: 0;
  transition: opacity .1s ease-in-out;
  &.active {
    opacity: 1;
  }
  max-height: 1500px;
}

.snapshot-content__viewport {
  width: 100%;
  overflow: hidden;
}

.snapshot-content__container {
  width: 200%;
  transition: transform .3s ease-in-out;
  transform: translateX(0);
  &.show-json {
    transform: translateX(-50%);
  }
}

.snapshot-content__container__item {
  box-sizing: border-box;
  padding: 2% 10%;
  font-family: "Guardian Agate Sans";
  height: 53.5em;;
}

.snapshot-content__container__item--json {
  @extend .snapshot-content__container__item;
  padding: 2% 5%;
  width: 50%;
  height: 53.5em;;
  overflow: scroll;
  & code {
    word-wrap: break-word;
  }
}

.snapshot-content__furniture {
    @include thin-bottom-border;
}

.snapshot-content__furniture__item {
    padding: 2%;

    .snapshot-content__furniture__item--header {
        font-family: "Guardian Agate Sans";
        font-weight: bold;
        color: $color-650-grey;
    }

    .snapshot-content__furniture__item--content {
        font-family: "Guardian Agate Sans";
        font-weight: normal;
        color: $color-650-grey;
    }
}

.snapshot-content__actions {
    display: flex;
    padding: 2% 5%;
    justify-content: flex-end;
    space-between: 1rem;
    @include thin-bottom-border;
}

.snapshot-content__actions--button {
    display: flex;
    height: 2.5rem;
    margin-right: 1rem;
    align-items: center;
    justify-content: center;
    background: $box-tertiary-bg;
    & :last-child {
        margin-right: 0;
    }
}

.snapshot-content__actions__restore__icon {
    margin-right: 5px;
}
