.snapshot-list__item:hover {

}

.snapshot-list__item__content {
  flex-grow: 3;
  padding: 15px;
  font-weight: 500;

  [variant=quaternary] &{
    color: white;
  }

  h4 {
    margin-bottom: 5px;
  }
}

.snapshot-list__item__restore {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin-right: -3%;
}

.snapshot-list__item__restore__icon {
  margin-right: 5px;
}

.snapshot-list__item__json {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.snapshot-list__item .index-list__item__index {
  padding-top: 15px;
}
