@font-face {
  font-family: "Guardian Agate Sans";
  src: url("/assets/fonts/GuardianAgateSans1Web-Regular.eot");
  src: url("/assets/fonts/GuardianAgateSans1Web-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/GuardianAgateSans1Web-Regular.woff") format("woff"), url("/assets/fonts/GuardianAgateSans1Web-Regular.ttf") format("truetype"), url("/assets/fonts/GuardianAgateSans1Web-Regular.svg#GuardianAgateSans1Web-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Guardian Agate Sans";
  src: url("/assets/fonts/GuardianAgateSans1Web-Bold.eot");
  src: url("/assets/fonts/GuardianAgateSans1Web-Bold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/GuardianAgateSans1Web-Bold.woff") format("woff"), url("/assets/fonts/GuardianAgateSans1Web-Bold.ttf") format("truetype"), url("/assets/fonts/GuardianAgateSans1Web-Bold.svg#GuardianAgateSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: "Guardian Egyptian Text";
  src: url("/assets/fonts/GuardianTextEgyptianWeb-Medium.eot");
  src: url("/assets/fonts/GuardianTextEgyptianWeb-Medium.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/GuardianTextEgyptianWeb-Medium.woff") format("woff"), url("/assets/fonts/GuardianTextEgyptianWeb-Medium.ttf") format("truetype"), url("/assets/fonts/GuardianTextEgyptianWeb-Medium.svg#GuardianEgyptianText-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}


@font-face {
  font-family: "Guardian Egyptian Text";
  src: url("/assets/fonts/GuardianTextEgyptianWeb-Regular.eot");
  src: url("/assets/fonts/GuardianTextEgyptianWeb-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/GuardianTextEgyptianWeb-Regular.woff") format("woff"), url("/assets/fonts/GuardianTextEgyptianWeb-Regular.ttf") format("truetype"), url("/assets/fonts/GuardianTextEgyptianWeb-Regular.svg#GuardianEgyptianText-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}


.content-type {
  font-family: "Guardian Egyptian Text";
  font-weight: bold;
  font-size: 18px;
}

.snapshot-list__item__content__relative-date {
  margin-bottom: 5px;
  font-family: "Guardian Agate Sans";
  font-weight: bold;
  font-size: 16px;
}

.snapshot-list__item__content__actual-date {
  font-family: "Guardian Agate Sans";
  font-weight: normal;
  font-size: 13px;
}

.snapshot-list__item__json, .snapshot-list__item__restore {
  font-family: "Guardian Agate Sans";
  font-weight: normal;
  font-size: 13px;
}

.snapshot-content {
  font-family: "Guardian Egyptian Text";
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
}

.article-headline {
  font-family: "Guardian Egyptian Text";
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}

.article-hash {
  margin-bottom: 20px;
  font-family: "Guardian Agate Sans";
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

.snapshot-list-header {
  font-family: "Guardian Agate Sans";
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
}

