@(pageTitle:String, composerDomain: String)(content:Html)

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Composer Restorer - @pageTitle</title>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("jspm_packages/github/necolas/normalize.css@3.0.2/normalize.css")" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("jspm_packages/github/guardian/scribe-plugin-noting@0.3.29/skins/gu-noting.css")" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/index.css")" />
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/fav-versions-32.png")" />
</head>
<body ng-app="restorer">
  <main class="main" ng-view>
    <!-- Add Loading GFX -->
  </main>

    <script src="@routes.Assets.at("jspm_packages/system.js")"></script>
    <script src="@routes.Assets.at("config.js")"></script>
    <script>
      System.baseURL = '/assets';
      System
        .import('javascripts/app/main')
        .catch(function(err){
          console.error(err);
        })

     window.__COMPOSER_DOMAIN__ = "@composerDomain";
    </script>

    </script>
</body>
</html>
