@(pageTitle:String)(content:Html)

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Composer Restorer - @pageTitle</title>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("jspm_packages/github/necolas/normalize.css@3.0.2/normalize.css")" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/index.css")" />
</head>
<body ng-app="restorer">
  <main class="main" ng-view>
    <!-- Add Loading GFX -->
  </main>

    <script src="@routes.Assets.at("jspm_packages/system.js")"></script>
    <script src="@routes.Assets.at("config.js")"></script>
    <script>
      System.baseURL = '/assets';
      System
        .import('javascripts/app/main')
        .catch(function(err){
          console.log('System js load error: -->');
          console.log(err);
        })
    </script>
</body>
</html>
