@(pageTitle:String)(content:Html)

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Composer Restorer - @pageTitle</title>


</head>
<body ng-app="restorer">
  <main ng-view>
    <!-- Add Loading GFX -->
  </main>

    <script src="@routes.Assets.at("jspm_packages/system.js")"></script>
    <script src="@routes.Assets.at("config.js")"></script>
    <script>
      System
        .import('javascripts/app/main')
        .catch(function(err){
          console.log('System js load error: -->');
          console.log(err);
        })
    </script>
</body>
</html>
